build
.gradle
.idea
algorithmic-problem-solving-strategies/out
algospot/out
baekjoon/out
basic/build
basic/out
codingdojang/out
codility/out
hackerrank/out
mailprogramming/out
programmers/out
testdome/out
*.iml